*{
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
    box-sizing: border-box;
}
body{
    background: #262a2f;
}
.conteriner{
    width: 400px;
    padding: 25px 35px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: #fff;
    border-radius: 10px;
}
.conteriner p{
    font-weight: 600;
    font-size: 15px;
    margin-bottom: 8px;
}
.conteriner input{
    width: 100%;
    height: 50px;
    border: 1px solid #494eea;
    outline: 0;
    padding: 10px;
    margin: 10px 0 20px;
    border-radius: 5px;
}
.conteriner , input ::placeholder{
    transition: 0.2sec;
}
.conteriner button{
     width: 100%;
     height: 50px;
     background-color: #494eea;
     color: #fff;
     border: 0;
     outline: 0;
     border-radius: 5px;
     box-sizing: 0 10px rgba(0,0,0,0.1);
     cursor: pointer;
     margin: 20px 0;
     font-weight: 500;
     }
     #imagebox{
        width: 200px;
        border-radius: 5px;
        max-height: 0;
        overflow: hidden;
        transition: max-height 1s;
        

     }
     #image img{
        width: 100%;
        padding: 10px;
     }
     #imgBox.show-img{
        max-height: 300px;
        margin: 10px auto; 
        border: 1px solid #d1d1d1;
     }
    